<h2><%= @course.name %></h2>

<p>Admin: <%= @course.user_id %></p>
<%= button_to "Back",root_path, method: "get" %>
<% if current_user.student? %>
  <%= link_to "Opt for Course", opt_course_path(@course), method: :post, class: 'btn btn-success' %>
<% end %>